- provide(:title, "#{t('rhinoart_gallery._GALLERY')}: #{@gallery.name}" )

.row
  .span8.offset1
    %h1= "#{t('rhinoart_gallery._GALLERY')}: #{@gallery.name}"

    .row.show-grid
      .col-md-2
        %strong Slug
      .col-md-4=@gallery.slug

    .row.show-grid
      .col-md-2
        %strong Image
      .col-md-6
        %a(href="#{@gallery.image.url}" target='_blank')
          = image_tag @gallery.image.thumb.url
    - if @gallery.description.present?
      .row.show-grid
        .col-md-2
          %strong Descripions
        .col-md-6= @gallery.description
    .row.show-grid
      .col-md-2
        %strong Images:
    .row.show-grid
      - @gallery.images.each do |image|
        .col-md-3.text-center
          %a(href="#{gallery_image_path(@gallery, image)}")
            = image_tag image.image.thumb.url
